<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <select name="" id="date">
      {% for month in range(1,4) %}
      <option value="{{ month }}" data-month="{{month}}">{{ month }}月</option>
      {% endfor %}
    </select>
    <div id="result">
      <p>{{dataList[0].month}}月</p>
      <p>{{dataList[0].fruits[0]}}</p>
    </div>
    <script>
      // prettier-ignore
      const dataList = JSON.parse('{{ dataList|tojson }}');
    </script>
    <script src="../static/allData.js"></script>
  </body>
</html>
